@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.functioncardcontainer{
  height: 100%;
}
.lifecross{
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 10px;
}
.lifecross:hover{
  transform: scale(1.2);
  transition: 0.4s all;
}
.bg-image-2 {
  background-image: url('../../assets/black-stone-bg.jpg');
  position: absolute;
  background-size: cover;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.devinity {
  z-index: 100;
  font-family: 'Poiret One';
  font-size: 60px;
  text-decoration: none;
  color: #f8f8f8;
  text-shadow: black 2px 2px 8px;
  font-weight: bold;
  width: 350px;
  height: 350px;
  text-align: center;
  border-radius: 50%;
  line-height: 400px;
  background-image: url(../../assets/scarabe.jpg);
  background-position: center;
  background-repeat: no-repeat;
 
}


.devinity:hover {
  font-size: 70px;
  transform: scale(1.1);
    transition: 0.5s ease-in-out;
 
}

.prayer {
  z-index: 100;
  font-family: 'Poiret One';
  font-size: 60px;
  text-decoration: none;
  color:#ffd700;
  text-shadow:  black 1px 1px 10px;
  font-weight: bold;
  width: 350px;
  height: 350px;
  text-align: center;
  border-radius: 50%;
  line-height: 400px;
  background-image: url(../../assets/truc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
 
}

.prayer:hover {
  font-size: 70px;
  transform: scale(1.1);
    transition: 0.5s ease-in-out;
 
}

.fonctionality {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .fonctionality {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .devinity{
    width: 50%;
    height: 30%;
    text-align: center;
    border-radius: 50%;
    line-height: 250px;
    font-size: 30px;
  }
  .prayer {
    width: 50%;
    height: 30%;
    text-align: center;
    border-radius: 50%;
    line-height: 270px;
    font-size: 30px;

  }
}