
:root {
  --font-heavy: 'Montserrat Alternates', sans-serif;
  --font-medium: 'Heebo', sans-serif;
  --font-light: 'Comfortaa', sans-serif;
  --font-serif: 'Cormorant', serif;
  --primary-color: rgb(10, 10, 46);
  --color-gold:#ffd700;
  --color-blue: #00e2ff;
  --color-gray:#808080;
  --light: rgb(209, 209, 209);
  

}