@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.message h1 {
    font-family: 'Poiret One';
    top: 10%;
}
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffee00fd ;
    text-shadow: #808080 1px 1px 2px;
}
.lifecross{
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.lifecross:hover{
    transform: scale(1.2);
    transition: 0.4s all;
}
.message .form{
    position: absolute;
}
.prayers{
    font-size: 100px;
    position: absolute;
    margin-bottom: 500px;
}
 .form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-control {
    width: 500px;
    border-radius: 5px;
    font-family: 'Poiret One' ;
    font-weight: bold;
    font-size: 30px;
    box-shadow: #ffd700 1px 1px 5px;
    color: white;
    background-color: black;
}
.leavemsg{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poiret One';
    text-shadow: #ffd700 1px 1px 1px;
    color: #ffffff;
}

.message .btn {
    margin-top: 20px;
}
.message .bg-image {
    z-index: -1;
    width: 100vW;
    height: 100vh;
}
.btn{
    font-size: 30px;
    font-family: 'Poiret One';
    text-shadow: #ffd700 1px 1px 1px;
    color: #000000;
}
.btn:hover{
    transform: scale(1.2);
    transition: 1s all;
}
.answer {
    position: absolute;
    top: 80%;
    font-family: 'Poiret One';
}